@use '../../../../assets/style';

.root {
    border: 1px solid style.$primary-color;
    position: relative;
    margin: 0 style.$eight-pixel;
    max-width: 200px;
    min-width: 200px;

    >button {
        padding: 4px 8px;
        position: absolute;
        top: style.$eight-pixel;
        right: style.$eight-pixel / 2;
    }

    .top {
        min-height: 300px;
        height: auto;
        background-color: #f0c8c8;
        border-bottom: 1px solid style.$primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titleBar {
        height: 60px;
        display: flex;
        align-items: center;
        Overflow:hidden;
        max-height: 6rem;
        line-height: 2.5rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
        display: block;
    }
}