@use '../../../assets/style';

.root {
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: style.$primary-color;
    border-radius: style.$eight-pixel;
    border: 1px solid style.$primary-color;
    padding: style.$eight-pixel 4 * style.$eight-pixel;
}