@use '../../assets/style';


.root {
    border: 1px solid style.$primary-color;
    padding: 4 * style.$eight-pixel;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 450px;
    left: 50%;
    top: 50%;

    .topBar {
        border-bottom: 1px solid style.$primary-color;
        padding-bottom: style.$eight-pixel;
    }

    .loginForm {
        margin-top: 2 * style.$eight-pixel;
    }
    
    .validateMsg {
        color: style.$error-color;
    }

    @include style.respond(phone) {
        width: 300px;
    }
}