@use '../../../assets/style';

.root {
    input {
        width: calc(100% - 16px);
        background-color: #fff;
        color: style.$primary-color;
        height: style.$input-height;
        padding: 0 style.$eight-pixel;
        border-radius: style.$eight-pixel;
        margin-bottom: 2 * style.$eight-pixel;
        border: 1px solid style.$primary-color;
    }

    label {
        display: block;
        margin-bottom: style.$eight-pixel;
    }
}